.custom-cursor {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
}

.projects-cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    z-index: 4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E82E06;
    mix-blend-mode: difference;
}


.projects-cursor h4 {
    font: 400 18px 'Bebas Neue';
    color: white;
    line-height: 18px;
    width: min-content;
    text-align: center;
}

.basic-cursor {
    width: 80px;
    height: 80px;
    border: 3px solid #E82E06;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    mix-blend-mode: difference;
}

.cursor-dot {
    position: fixed;
    left: 0;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: #E82E06;
    border-radius: 50%;
    mix-blend-mode: difference;
    z-index: 5;
    pointer-events: none;
}

@media screen and (max-width:768px) {
    .custom-cursor , .cursor-dot{
        display: none;
    }
}