.custom-cursor {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    transform: translate(-100%,-100%);
    z-index: 99;

}

.projects-cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E82E06;
    mix-blend-mode: difference;
}

.projects-cursor h4 {
    font: 400 18px 'Bebas Neue';
    color: white;
    line-height: 18px;
    width: min-content;
    text-align: center;
}

.basic-cursor {
    border: 5px solid #E82E06;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
    width: 100px;
    height: 100px;
    pointer-events: none;

}

.panel-cursor {
    background-color: #E82E06;
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;

}

.cursor-dot {
    position: fixed;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 100;
}

.cursor-dot div {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 4px;
    background-color: #E82E06;
}

.cursor-dot div:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg);
}


.contact-cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E82E06;
}

.contact-cursor h4 {
    font: 400 20px 'Bebas Neue';
}


@media screen and (max-width:768px) {

    .custom-cursor,
    .cursor-dot,
    .cursor-dot div {
        display: none;
    }

    body,
    .project {
        cursor: initial;
    }
}