:root {
    --orange: #E82E06;
    --blue: #00CFC1;
    --darkbrown: #140B0B;
    --white:#FFEDCC
}

.panel {
    position: fixed;
    right: 0;
    top: 0;
    width: clamp(300px, 25vw, 400px);
    /* width: 350px; */
    height: 100vh;
    background: #070707;
}

main {
    overflow: hidden;
    background-color: #FFEDCC;
    margin-right: clamp(300px, 25vw, 400px);
}


.intro {
    display: flex;
    position: relative;
    align-items: center;
    height: 275px;
    width: 100%;
    background-color: #E82E06;
    overflow: hidden;
}

.intro h1 {
    position: absolute;
    font: 600 290px 'Bebas Neue';
    text-wrap: nowrap;
    margin-top: 35px;
    color: #140B0B;
    transform: scaleY(1.24);
}

.header>div:nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 14px;
}

.header-mini-title {
    position: absolute;
    font: 600 16px 'AbeeZee';
    width: 150px;
    left: 14px;
    line-height: 15px;
}

.header>div:nth-child(2) p:first-child {
    color: var(--orange);
    top: 14px;
}

.header>div:nth-child(2) p:nth-child(2) {
    color: black;
    bottom: 14px;
}

.header>div:nth-child(2) h1 {
    font: 400 96px 'Gloock';
    line-height: 76px;
    letter-spacing: -6px;
    transform: scale(1, 1);
}

.header>div:nth-child(2) h1:first-of-type {
    color: #140B0B;
    margin-left: 230px;
}

.header>div:nth-child(2) h1:last-of-type {
    color: var(--orange);
    margin-bottom: 20px;
    margin-left: 100px;
}

.header .star {
    position: absolute;
    width: 27px;
    height: 27px;
}

.star1 {
    right: 14px;
    top: 14px;
}

.star2 {
    right: 80px;
    bottom: 14px;
}

.header .star .line1,
.header .star .line2 {
    position: absolute;
    width: 27px;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--orange);
}

.header .star .line2 {
    transform: translateY(-50%) rotate(90deg);
}

#header-line {
    background-color: #140B0B;
    display: flex;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#header-line h5 {
    font: 400 13px 'AbeeZee';
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 2px;
}

#header-line h5:first-of-type {
    color: #E82E06;
    transform: scaleY(1.1);
    line-height: 12px;
    max-width: 720px;
}

#header-line h5:last-of-type {
    color: white;
    min-width: 110px;
    max-width: 110px;
    font-size: 14px;
    letter-spacing: 0px;
}

/* about me */

.about-title-box {
    padding: 30px;
    background: var(--orange);
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    justify-content: space-between;
    will-change: transform;
}

.about-title-box>div,
.skills-title>div {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-title-box h1,
.skills-title h1 {
    font: 400 180px 'Anton';
    transform: scaleY(1.31);
    line-height: 180px;
    margin-top: 4px;
    color: #140B0B;
}

.skills-title h1 {
    color: var(--orange);
    /* color: #ffffffcc; */
}

#about-text {
    display: flex;
    flex-direction: column;
    padding: 50px 14px;
    gap: 40px;
}

#about-text>div>div,
#about-text>div {
    display: flex;
}

#about-text>div {
    gap: 50px;
    align-items: center;
}

#about-text>div>div {
    gap: 30px;
    align-items: center;
    min-width: max-content;
}

#about-text>div>div>div {
    overflow: hidden;
}

#about-text h4 {
    color: #070707;
    font: 400 24px 'Gloock';
}

#about-text h2 {
    color: var(--orange);
    text-transform: uppercase;
    font: 400 72px 'Anton';
    transform: scaleY(1.6);
}

#about-text p {
    color: #070707;
    font: 600 13px 'AbeeZee';
    text-transform: uppercase;
    max-width: 300px;
}

#about-text span {
    opacity: 0;
}

#about-text .long-p {
    max-width: 240px;
}

#about-text>div:nth-child(5) {
    padding-right: 100px;
}

#about-text>div:nth-child(1),
#about-text>div:nth-child(5) {
    align-self: flex-end;
}

#about-text>div:nth-child(3) {
    align-self: center;
}

/* skills */
.skills-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #140B0B;
    padding: 30px;
    gap: 30px;
    will-change: transform;
    height: 100vh;
}


@media screen and (max-width:1024px) {
    main {
        width: 100%;
    }

    .panel {
        display: none;
    }
}

@media screen and (min-height:730px) and (min-width:1024px) {
    .intro {
        height: 370px;
    }

    .intro h1 {
        transform: scaleY(1.65);
        padding-top: 9px;
    }
}

@media screen and (min-height:900px) and (min-width:1024px) {
    .intro {
        height: 420px;
    }

    .intro h1 {
        transform: scale(1.3, 1.9);
        padding-top: 9px;
    }

    #header-line {
        padding: 20px 14px;
    }

    #header-line h5:first-of-type {
        font-size: 14px;
        line-height: 16px;
    }

    #header-line h5:last-of-type {
        font-size: 15px;
        min-width: 120px;
        line-height: 20px;
    }
}

@media screen and (min-height:700px) and (min-width:1540px) {
    .header>div:nth-child(2) h1 {
        font-size: 120px;
        line-height: 100px;
    }
}

@media screen and (max-width:1400px) {

    .about-title-box h1,
    .skills-title h1 {
        font-size: 150px;
        line-height: 150px;
    }
}

@media screen and (max-width:1340px) {
    .header>div:nth-child(2) h1:first-of-type {
        margin-left: 0px;
    }
}

@media screen and (max-width:1228px) {
    .header>div:nth-child(2) h1 {
        margin-left: 0px !important;
    }
}

@media screen and (max-width:1180px) {
    #about-text>div {
        flex-direction: column;
        width: 100%;
        align-items: start;
        gap: 20px;
    }

    #about-text p {
        align-self: end;
        max-width: 600px !important;
        margin-left: 64px;
    }

    #about-text>div>div {
        min-width: initial;
    }

    #about-text>div:nth-child(5) {
        padding-right: 0;
    }

}

@media screen and (max-width:1124px) {
    .header>div:nth-child(2) h1 {
        font-size: 84px;
    }

    .about-title-box h1,
    .skills-title h1 {
        font-size: 130px;
        line-height: 130px;
    }
}

@media screen and (max-width:1008px) {
    .header>div:nth-child(2) h1 {
        font-size: 74px;
        line-height: 68px;
    }
}

@media screen and (max-width:768px) {

    .about-title-box,
    .skills-title {
        height: min-content;
    }
}

@media screen and (max-width:630px) {
    .intro {
        height: 200px;
    }

    .intro h1 {
        font-size: 208px;
        margin-top: 22px;
    }

    .header>div:nth-child(2) h1 {
        font-size: 60px;
        line-height: 62px;
        letter-spacing: -3px;
        max-width: 300px;
    }

    #header-line {
        gap: 50px;
    }

    .header-mini-title {
        font-size: 14px;
    }

    #about-text h2 {
        font-size: 64px;
        line-height: 64px;
        transform: scaleY(1);
    }

    #about-text p {
        margin-left: 50px;
    }

    #about-text>div>div {
        gap: 15px;
        align-items: start;
    }

    .about-title-box h1,
    .skills-title h1 {
        font-size: 100px;
        line-height: 100px;
    }

    .about-title-box ,.skills-title{
        padding: 30px 14px;
    }
}

@media screen and (max-width:430px) {

    .about-title-box h1,
    .skills-title h1 {
        font-size: 85px;
        line-height: 70px;
    }
}

@media screen and (max-height:700px) and (max-width:540px) {
    .header>div:nth-child(2) h1 {
        font-size: 48px;
        line-height: 50px;
    }
}