.page1 {
    display: flex;
    padding-top: 20px;
}


.page1-column1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.page1-column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 15px;
}

.page1-column1>div {
    display: flex;
}

.story {
    padding: 0 14px;
    text-align: justify;
}


.page1-column2 .banner {
    display: flex;
    align-items: center;
    width: 240px;
    background-color: var(--orange);
    padding: 20px 30px;
    height: 100%;
}

.page1-column2 .banner span,
.page1-column1 .mobile-banner span {
    color: var(--darkbrown);
}



.page1-column2 .banner h4,
.page1-column1 .mobile-banner h4 {
    font: 400 26px 'Bebas Neue';
    line-height: 28px;
    transform: scaleY(1.4);
    color: #fff;
}

.page1-column1 .mobile-banner h4 {
    transform: scaleY(1);
}

.page1-column1 .mobile-banner {
    display: none;
    align-items: center;
    background-color: var(--orange);
    padding: 20px 14px;
    height: min-content;
    margin-bottom: 30px;
}

.skill-box {
    position: relative;
    width: min-content;
}

.skill-box h1 {
    font: 400 160px 'Anton';
    line-height: 180px;
    transform: scaleY(1.3);
    color: var(--orange);
}

.skill-box h4 {
    position: absolute;
    font: 400 36px 'Anton';
    line-height: 36px;
    text-transform: uppercase;
    color: #140B0B;
}

.skill-box p {
    position: absolute;
    font: 400 15px 'Abeezee';
    font-style: italic;
    text-align: justify;
    hyphens: auto

}


.skill-box1 h4 {
    top: 20px;
    left: calc(100% - 25px);
    width: 220px;
}

.skill-box1 p {
    bottom: 20px;
    left: calc(100% + 10px);
    width: 90%;
}

.page1-column1>div:nth-child(1),
.page1-column1>div:nth-child(2) {
    padding: 0 14px;
}

.page1-column1>div:nth-child(2) {
    justify-content: end;
    margin-right: 230px;
}

.skill-box2 {
    margin: 100px 0;
}

.skill-box2 p {
    width: 200px;
    right: 100%;
    bottom: -20px;
}

.skill-box2 h1 {
    transform: rotate(-90deg) scale(1.3);
}

.skill-box2 h4 {
    top: -15px;
    left: calc(100% - 50px);
    width: 230px;
}

.page-num h1 {
    font: 400 96px 'Anton';
    line-height: 96px;
}

.page-num {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-num div {
    height: 10px;
    width: 100px;
    background-color: var(--orange);
}

.page1-column1 .story {
    max-width: 500px;
}

.story {
    font: 400 20px 'Gloria Hallelujah';
    text-transform: uppercase;
    line-height: 26px;
}

/* page2 */

.page2>div:nth-child(1) {
    display: flex;
    margin: 30px 0;
}

.page2 .page-num {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page2 .content {
    display: flex;
}

.page2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.page2 .content {
    position: relative;
}

.page2-column1 .banner {
    display: flex;
    align-items: center;
    width: 240px;
    background-color: var(--darkbrown);
    padding: 20px 30px;
    height: 100%;
    margin-right: 30px;
}

.page2-column1 .banner h4 {
    font: 400 26px 'Bebas Neue';
    line-height: 28px;
    transform: scaleY(1.4);
    color: var(--orange);
}

.page2-column1 .banner span {
    color: white;
}

.page2-column2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.skill-box3 h1:nth-child(3) {
    margin-left: 140px;
}

.skill-box3 h4 {
    width: 120px;
    bottom: 90px;
    text-align: end;
}

.skill-box3 p {
    top: 20px;
    width: 250px;
    right: -30px;
}

.skill-box4 {
    margin: 170px 450px 0 0;
    align-self: end;
}

.skill-box4 p {
    left: calc(100% + 15px);
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
}

.skill-box4 h4 {
    transform: rotate(-90deg);
    width: 150px;
    top: -50px;
    left: -20px;
}

.page2>div:nth-child(1) .story {
    display: none;
    flex: 1;
}

.content .story {
    position: absolute;
    width: 350px;
    right: 0;
}

.page2 .mobile-banner {
    display: none;
    align-items: center;
    background-color: var(--darkbrown);
    padding: 20px 14px;
    height: min-content;
    margin-top: 30px;
}

.page2 .mobile-banner span {
    color: white;
}

.page2 .mobile-banner h4 {
    color: var(--orange);
    font: 400 26px 'Bebas Neue';
    line-height: 28px;
    transform: scaleY(1);
}


/* page3 */




.page3>div:nth-child(1) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 0 14px;
}

.page3>div:nth-child(2) {
    display: flex;
    justify-content: end;
}

.page3 .page-num {
    width: 240px;
}

.skill-box5 h4 {
    width: 200px;
    top: calc(100% - 20px);
}

.skill-box5 p {
    width: 350px;
    top: calc(100% + 60px);
}

.story3 {
    width: 470px;
    padding-top: 10px;
}

.page3>div:nth-child(3) {
    width: 100%;
    height: 130px;
    margin: 40px 0;
    background-color: var(--darkbrown);
    display: flex;
    align-items: center;
    overflow: hidden;

    div {
        display: flex;
        gap: 150px;
    }
}

.page3>div:nth-child(3) .star{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: var(--orange);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.page3>div:nth-child(3) h3 {
    font: 400 52px 'Bebas Neue';
    /* transform: scaleY(1); */
    text-transform: uppercase;
    color: var(--white);
    text-wrap: nowrap;

    span {
        color: var(--orange);
    }
}


.page3>div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.skill-box6 {
    height: min-content;
    margin-right: 14px;

}

.skill-box6 h4 {
    width: 300px;
    top: calc(100% - 20px);
    right: 0;
    text-align: end;
}

.skill-box6 p {
    top: calc(100% + 60px);
    width: 330px;
    right: 0;
}

.story4 {
    max-width: 310px;
}

@media screen and (max-width:1600px) {
    .content .story {
        display: none;
    }

    .page2>div:nth-child(1) .story {
        display: block;
    }

}

@media screen and (max-width:1550px) {
    .skill-box4 {
        margin: 170px 275px 0 0;
        align-self: end;
    }

    .skill-box4 p {
        width: 250px;
    }
}

@media screen and (max-width:1400px) {
    .skill-box h1 {
        font-size: 140px;
        line-height: 160px;
    }

    .skill-box1 p {
        width: 100%;
    }

    .skill-box h4 {
        font-size: 30px;
        line-height: 30px;
    }

    .skill-box1 h4 {
        width: 200px;
    }


    .skill-box5 p,
    .skill-box6 p {
        top: calc(100% + 50px);
    }

    .skill-box6 h4 {
        width: 250px;
    }

    .page1-column1>div:nth-child(2) {
        margin-right: 170px;
    }
}

@media screen and (max-width:1300px) {
    .skill-box1 p {
        width: 70%;
        bottom: 0;
    }

    .page1-column1>div:nth-child(2) {
        margin-right: 70px;
    }

    .skill-box2 h4 {
        width: 120px;
    }
}

@media screen and (max-width:1200px) {
    .skill-box1 p {
        width: 70%;
        bottom: -30px;
    }

    .page2-column1 .banner {
        margin-right: 20px;
    }

    .skill-box2 {
        margin: 150px 0 110px;
    }

    .page1-column2 .banner {
        width: 220px;
    }

    .skill-box h1 {
        font-size: 110px;
        line-height: 130px;
    }

    .skill-box1 h4 {
        top: 0px;
    }

    .skill-box3 p {
        top: 10px;
        right: -50px;
    }

    .skill-box3 h4 {
        bottom: 65px;
    }

    .skill-box4 p {
        bottom: 0;
        top: initial;
        transform: inherit;
        width: 190px;
    }

    .skill-box4 {
        margin: 170px 215px 0 0;
    }

    .story3 {
        width: 330px;
    }

    .skill-box5 p,
    .skill-box6 p {
        width: 200px;
    }
}

@media screen and (max-width:768px) {

    .page1-column2 .banner,
    .page2 .banner {
        display: none;
    }

    .page1-column1 .mobile-banner,
    .page2 .mobile-banner {
        display: flex;
    }

    .page1-column1 .story {
        max-width: max-content;
    }

    .page1 .page-num {
        position: absolute;
        right: 14px;
    }

    .skill-box1 h4 {
        top: calc(100% - 25px);
        left: 0;
    }

    .skill-box1 p {
        left: 0;
        top: calc(100% + 45px);
        width: 100%;
    }

    .skill-box2 p {
        width: 130px;
    }

    .page-num h1 {
        font-size: 76px;
        line-height: 76px;
    }

    .skill-box2 {
        margin: 180px 0 70px;
    }

    .page2 .page-num {
        position: absolute;
        top: 0;
    }

    .page2 {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .page2-column2 {
        padding: 0 14px;
    }

    .skill-box3 h1:nth-child(3) {
        margin-left: 0;
    }

    .skill-box3 h4 {
        bottom: 5px;
        left: 100%;
        width: 100px;
        text-align: center;
    }

    .skill-box3 p {
        top: calc(100% + 5px);
        width: 310px;
        left: 0;
    }

    .page2 .page-num {
        width: min-content;
        left: 14px;
    }

    .skill-box4 {
        margin: 210px 215px 0 0;
    }

    .story3,
    .story4 {
        max-width: 100%;
        width: 100%;
    }

    .story3 {
        margin-top: 150px;
    }

    .story4 {
        margin-top: 135px;
    }
    .skill-box6 {
        align-self: end;
    }

    .page3>div:nth-child(4) {
        flex-direction: column-reverse;

    }

    .skill-box5 p,
    .skill-box6 p {
        width: 330px;
    }

    .page3 .page-num {
        right: 14px;
        position: absolute;
        width: min-content;
    }

    .page3>div:nth-child(1) {
        padding-top: 0px;
    }

    .page3>div:nth-child(3) {
        margin: 20px 0;
        height: 110px;
    }

    .page-num {
        display: none !important;
    }
}

@media screen and (max-width:500px) {
    .skill-box4 {
        margin: 210px 0 0 0;
    }

    .skill-box4 p {
        left: initial;
        right: calc(100% + 10px);
        width: 140px;
    }
}

@media screen and (max-width:420px) {
    .skill-box h1 {
        font-size: 90px;
        line-height: 100px;
    }

    .skill-box1 p {
        width: calc(100% + 100px);
    }

    .skill-box h4 {
        font-size: 26px;
        line-height: 26px;
    }

    .skill-box2 p {
        bottom: -35px;
    }

    .skill-box3 h1 {
        line-height: 110px;
    }

    .skill-box3 h4 {
        width: 90px;
    }

    .skill-box4 p {
        width: 120px;
    }

    .skill-box4 {
        margin-top: 230px;
    }
}